<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">
        <img class="nav_logo" alt="Brand" src="http://i.imgur.com/5ItloVX.png">
      </a>
    </div>
  </div>
</nav>

<% if @stores.present? %>

<div id="map" style="width:100%;height:250px;margin-top:-20px;"></div>
<script>
  var mapContainer = document.getElementById('map'), // 지도를 표시할 div  
  <% @stores.limit(1).each do |store| %>
    mapOption = { 
        center: new daum.maps.LatLng(<%= store.latitude %>, <%= store.longitude %>), // 지도의 중심좌표
        level: 9 // 지도의 확대 레벨
    };
  <% end %>
  var map = new daum.maps.Map(mapContainer, mapOption); // 지도를 생성합니다
 
  // 마커를 표시할 위치와 title 객체 배열입니다 
  <% @stores.each do |store| %>
  var positions = [
    {
        title: '<%= store.name %>', 
        latlng: new daum.maps.LatLng(<%= store.latitude %>, <%= store.longitude %>)
    }
  ];

  // 마커 이미지의 이미지 주소입니다
  var imageSrc = "http://i1.daumcdn.net/localimg/localimages/07/mapapidoc/markerStar.png"; 
    
  for (var i = 0; i < positions.length; i ++) {
    
    // 마커 이미지의 이미지 크기 입니다
    var imageSize = new daum.maps.Size(24, 35); 
    
    // 마커 이미지를 생성합니다    
    var markerImage = new daum.maps.MarkerImage(imageSrc, imageSize); 
    
    // 마커를 생성합니다
    var marker = new daum.maps.Marker({
        map: map, // 마커를 표시할 지도
        position: positions[i].latlng, // 마커를 표시할 위치
        title : positions[i].title, // 마커의 타이틀, 마커에 마우스를 올리면 타이틀이 표시됩니다
        image : markerImage // 마커 이미지 
    });
}

  var iwContent = '<div style="padding:5px;"><%= store.name %> <a href="/stores/<%= store.id %>" style="color:blue">자세히</a></div>', // 인포윈도우에 표출될 내용으로 HTML 문자열이나 document element가 가능합니다
    iwPosition = new daum.maps.LatLng(<%= store.latitude %>, <%= store.longitude %>); //인포윈도우 표시 위치입니다

  // 인포윈도우를 생성합니다
  var infowindow = new daum.maps.InfoWindow({
    position : iwPosition, 
    content : iwContent 
});
  
// 마커 위에 인포윈도우를 표시합니다. 두번째 파라미터인 marker를 넣어주지 않으면 지도 위에 표시됩니다
infowindow.open(map, marker);
<% end %>
</script>

<br/>
<div class="row">
  <div class="col-md-6 col-sm-8 col-xs-10" style="margin: 0 auto; float: none;">
    <form action="/stores" method="get">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="서점명/주소(시/구/동)를 입력하세요." name="query">
        <span class="input-group-btn">
        <button class="btn btn-default" type="submit">검색</button>
        </span>
      </div><!-- /input-group -->
    </form>
  </div><!-- /.col-lg-6 -->
</div><!-- /.row -->

<hr>

<div class="container">
	<div class="row">
    <h4 style="margin-left: 20px;"> '<span style="color: blue;"><%= @query %></span>'에 대한 검색결과 (<%= @stores.count %>개)</h4>
      <%= render 'stores' %>
	</div>
</div>
<hr>
<br/>
<h3 style="text-align: center;"><img src="http://i.imgur.com/Tqumzcb.png"> 지역별로 동네서점 찾기</h3>
  <div class="dropdown text-center">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        지역선택
        <span class="caret"></span>
        </button>
        <ul class="dropdown-menu dropdown-center" aria-labelledby="dropdownMenu1">
          <li><a href="/stores/local/1">서울(홍대/신촌)</a></li>
          <li><a href="/stores/local/2">서울(한남/종로/중구)</a></li>
          <li><a href="/stores/local/3">서울(기타)</a></li>
          <li><a href="/stores/local/4">경기/인천</a></li>
          <li><a href="/stores/local/5">충청/대전</a></li>
          <li><a href="/stores/local/6">전라/광주</a></li>
          <li><a href="/stores/local/7">경북/대구</a></li>
          <li><a href="/stores/local/8">경남/부산</a></li>
          <li><a href="/stores/local/9">제주</a></li>
        </ul>
  </div>

<% else %>
<div class="row">
  <div class="col-md-6 col-sm-8 col-xs-10" style="margin: 0 auto; float: none;">
    <form action="/stores" method="get">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="서점명 / 주소(시/구/동)를 입력하세요." name="query">
        <span class="input-group-btn">
        <button class="btn btn-default" type="submit">검색</button>
        </span>
      </div><!-- /input-group -->
    </form>
  </div><!-- /.col-lg-6 -->
</div><!-- /.row -->

<hr>

<div class="container">
  <div class="row">
    <h4 style="margin-left: 20px;"> '<span style="color: blue;"><%= @query %></span>'에 대한 검색결과</h4>
    <br/>
    <p class="search-not-found">검색결과가 없습니다.</p>
  </div>
</div>

<hr>

<br/>
<h3 style="text-align: center;"><img src="http://i.imgur.com/Tqumzcb.png"> 지역별로 동네서점 찾기</h3>
  <div class="dropdown text-center">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        지역선택
        <span class="caret"></span>
        </button>
        <ul class="dropdown-menu dropdown-center" aria-labelledby="dropdownMenu1">
          <li><a href="/stores/local/1">서울(홍대/신촌)</a></li>
          <li><a href="/stores/local/2">서울(한남/종로/중구)</a></li>
          <li><a href="/stores/local/3">서울(기타)</a></li>
          <li><a href="/stores/local/4">경기/인천</a></li>
          <li><a href="/stores/local/5">충청/대전</a></li>
          <li><a href="/stores/local/6">전라/광주</a></li>
          <li><a href="/stores/local/7">경북/대구</a></li>
          <li><a href="/stores/local/8">경남/부산</a></li>
          <li><a href="/stores/local/9">제주</a></li>
        </ul>
  </div>
<% end %>