<div class="jumbotron">
	<div class="background" style="background-image:url(http://i.imgur.com/zJVpw2a.jpg)">
    </div>
    <a class="nav-logo" href="/"><img src="https://staticassets-a.styleshare.kr/_static/shop/data/skin/default/images/styleshare_logo.png"></a>
    <div class="container">
    	<h1 id="main_text">주위의 동네서점을 찾아보세요.</h1>
    	<p>독특한 분위기, 이 곳에서만 볼 수 있는 책들이 동네서점에 있습니다.</p>
      <!--
    	<div class="dropdown select-local" style="margin-left: 44%;">
  			<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    		지역선택
    		<span class="caret"></span>
  			</button>
  			<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    			<li><a href="#">서울(홍대/신촌)</a></li>
    			<li><a href="#">서울(한남/북촌)</a></li>
          <li><a href="#">서울(기타)</a></li>
    			<li><a href="#">경기</a></li>
    			<li><a href="#">충청</a></li>
          <li><a href="#">전라/광주</a></li>
          <li><a href="#">경북/대구</a></li>
          <li><a href="#">경남/부산</a></li>
          <li><a href="#">제주</a></li>
  			</ul>
		</div>
  -->
 	</div>
</div> 
<div class="container">
	<div class="row">
    <h4 style="margin-left: 20px;">새롭게 추가된 서점</h4>
<% @stores.each do |store| %>
		<div class="col-md-4 col-sm-6 col-xs-12">	
			<div class="thumbnail">
        <% if store.cover_image.present? %>
				  <a href="/stores/<%= store.id %>"><img src="<%= store.cover_image %>"></a>
        <% else %>
          <a href="/stores/<%= store.id %>"><img src="http://goo.gl/vw43v1"></a>
        <% end %>
			</div>			
		<h4><a href="/stores/<%= store.id %>"><%= store.name %></a></h4>
  		<P><%= store.address %></P>
  		<p><%= truncate(store.introduction, length: 70, omission: '...(more)') %></p>
		</div>
	<% end %>	
	</div>
</div>	

<!--
<hr>
<h3 style="text-align: center;">지역별로 찾아보세요.</h4>
  <div class="dropdown select-local" style="margin-left: 44%;">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        지역선택
        <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
          <li><a href="#">서울(홍대/신촌)</a></li>
          <li><a href="#">서울(한남/북촌)</a></li>
          <li><a href="#">서울(기타)</a></li>
          <li><a href="#">경기</a></li>
          <li><a href="#">충청</a></li>
          <li><a href="#">전라/광주</a></li>
          <li><a href="#">경북/대구</a></li>
          <li><a href="#">경남/부산</a></li>
          <li><a href="#">제주</a></li>
        </ul>
  </div>
-->
