<!DOCTYPE html>
<html>
<head>
  <title>
  	<%= yield(:title).presence || "Anotherbooks :: 어나더북스 - 동네서점,독립서점 모음 서비스" %>
  </title>
  <link rel="shortcut icon" type="image/png" sizes="16x16" href="http://i.imgur.com/794tjPJ.png">
  <meta name="keywords" content="독립서점, 동네서점, 어나더북스, anotherbooks, 독립서적, 소규모 출판물, 독립잡지, 독립출판물, 헌책방, 독립출판, 인디매거진, 인디잡지" >

  <meta name="description" content="<%= yield(:description).presence || '전국 각지에 있는 동네서점, 독립서점을 한 곳에서 모아보세요. 이 곳에서만 느낄 수 있는 분위기, 독특한 책들이 동네서점에 있습니다.'%>">

  <meta name="google-site-verification" content="OE0Eghzt2l_AEAlNcweoisarPxqGziTu6FxYJJtbjhA" />


  <meta property="fb:app_id" content="204781903190665" /> 
  
  <meta property="og:type"   content="website" /> 
  

  <meta property="og:title"  content="<%= yield(:title).presence || "Anotherbooks :: 어나더북스 - 동네서점,독립서점 모음 서비스" %>" /> 
  
  <meta property="og:image"  content="<%= yield(:ogimg).presence || "http://i.imgur.com/ezxAvIg.jpg"%>" /> 

  <meta property="og:description"  content="<%= yield(:description).presence || '전국 각지에 있는 동네서점, 독립서점을 한 곳에서 모아보세요. 이 곳에서만 느낄 수 있는 분위기, 독특한 책들이 동네서점에 있습니다.'%>" /> 


  <meta name="naver-site-verification" content="e1be0a3c1a297765c0d96562630f65346e3b7b01"/>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
  <script type="text/javascript" src="//apis.daum.net/maps/maps3.js?apikey=c981ec9d04d0139cbb3fd3f9da722a8f">

  </script>
</head>
<body>
  	<div id="fb-root"></div>
		<script>(function(d, s, id) {
  				var js, fjs = d.getElementsByTagName(s)[0];
  				if (d.getElementById(id)) return;
  					js = d.createElement(s); js.id = id;
  					js.src = "//connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v2.5&appId=204781903190665";
  					fjs.parentNode.insertBefore(js, fjs);
					}(document, 'script', 'facebook-jssdk'));</script>

<%= yield %>

<footer class="footer-distributed clearfix">

			<div class="footer-left">

				<img id="footer-logo"src="http://i.imgur.com/Jjji5dX.png">

				<p class="footer-links" style="margin-top: 15px;">
					내가 좋아하는 것을 다른 사람들과 함께 나누었으면 하는 바램으로 만든 서비스 입니다.
				</p>

				<p class="footer-company-name">Another Books &copy; 2015</p>

				
<!--
				<div class="footer-icons">

					<a href="#"><i class="fa fa-facebook"></i></a>
					<a href="#"><i class="fa fa-twitter"></i></a>
					<a href="#"><i class="fa fa-github"></i></a>

				</div>
-->
			</div>

			<div class="footer-right">

				<div class="fb-like" data-href="http://www.anotherbooks.kr/" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>

				<div class="twitter-button">
    				<a href="https://twitter.com/share" class="twitter-share-button"{count}>Tweet</a>
					<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
				</div>

				</br><p>Contact Us</p><br/>
				<p>E-mail: anotherbooks.kr@gmail.com</p>
<!--
				<form action="#" method="post">

					<input type="text" name="email" placeholder="연락받으실 이메일주소를 입력해주세요." />
					<textarea name="message" placeholder="내용을 입력해 주세요."></textarea>
					
						

					
					<button onclick="button1_click();">보내기</button>
					<script type="text/javascript">
						function button1_click() {
							alert("전송되었습니다.");
							}
					</script>
				
				</form>
-->
			</div>
		</footer>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-71331130-1', 'auto');
  ga('send', 'pageview');

</script>

</body>
</html>
